p{
    color:#964B00;
    line-height: 30px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
h3{
    color:black;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color:green;
    text-decoration: none;
}
button{
    background-color: white;
    color:blueviolet;
}
textarea{
    color:black;
}
span{
    text-decoration: underline;
}