section{
    
    margin: 10px;
    
}
div{
    height:50px;
    width:200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid balck;
    margin: 10px  auto;
}
div:nth-last-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
#one:hover{
    transform: scale(1.5);
}#two:hover{
    transform: translate(50px,50px);
}
#three:hover{
    transform: rotate(-45deg);
}
#four:hover{
    transform: skew(30deg);
}
#five:hover{
    transform: scale3d(3);
}